{% extends "FOSUserBundle::fos_layout.html.twig" %}

{% block fos_user_content %}
    <div class="rssreader-reset rssreader-login-page rssreader-emailcheck-page">
        <div class="rssreader-login-form">
            <div class="rssreader-login-form__field">
                {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
